<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Boolflix</title>
    </head>
    <body>
        <div id="root">
            <header class="contenitore_header">
                <div class="contenitore_titolo">
                    <h1>Boolflix</h1>
                </div>
                <div class="contenitore_input">
                    <input @keyup.enter="ricerca_nel_sito" v-model="ricerca" type="text" name="" value="" placeholder="Cerca il film">
                    <button @click="ricerca_nel_sito" type="button" name="button">Cerca</button>
                </div>
            </header>
            <div class="contenitore_card">
                <div class="contenitore">
                    <h2 class="titolo_ricerca" v-if="ricerca_in_corso">
                        Ricerca in corso...
                    </h2>
                    <h2 class="titolo_ricerca" v-else-if="testo_titolo && risultati_totali.length">
                        Risultato ricerca: "{{ testo_titolo }}"
                    </h2>
                    <h3 class="titolo_ricerca" v-else-if="testo_titolo">
                        Nessun risultato trovato
                    </h3>
                </div>
                <div class="contenitore">
                    <div class="card" v-for="risultato in risultati_totali">
                        <h2>Titolo:</h2>
                        <h3>{{ risultato.title ? risultato.title : risultato.name }}</h3>
                        <span v-if="risultato.poster_path != null">
                            <img :src="url_base + risultato.poster_path" alt="immagine copertina">
                        </span>
                        <span v-else="risultato.poster_path == null">Copertina n.d</span>
                        <h2>Titolo Lingua Originale:</h2>
                        <h3>{{ risultato.original_title ? risultato.original_title : risultato.original_name }}</h3>
                        <h2>Lingua Originale:</h2>
                        <span
                        v-if="array_bandiere.includes(risultato.original_language)">
                            <img :src="'bandiere/' + risultato.original_language + '.png'" :alt="risultato.original_language">
                        </span>
                        <span v-else="{{ risultato.original_language }}"></span>
                        <h2>Voto:</h2>
                        <div v-if="risultato.vote_average > 0" class="stelline_voto">
                            <i v-for="stelle in voto_stelle(risultato.vote_average)" class="fas fa-star"></i>
                            <i v-for="stelle in 5 - (voto_stelle(risultato.vote_average))" class="far fa-star"></i>
                        </div>
                        <span v-else="voto_stelle(risultato.vote_average) == 0">Non Disponibile</span>
                    </div>
                </div>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
