<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Boolflix</title>
    </head>
    <body>
        <div id="root">
            <div class="contenitore_generale">
                <h1>Cerca Film</h1>
                <div class="contenitore_input">
                    <input @keyup.enter="cerca_film()" v-model="scelta_film" type="text" name="" value="" placeholder="Cerca il film">
                    <button @click="cerca_film()" type="button" name="button">Cerca</button>
                </div>
                <div class="contenitore_film">
                    <div class="card_film" v-for="film in array_film">
                        <h2>Titolo:</h2>
                        <h3>{{ film.title }}</h3>
                        <h2>Titolo Lingua Originale:</h2>
                        <h3>{{ film.original_title }}</h3>
                        <h2>Lingua Originale:</h2>
                        <span>{{ film.original_language }}</span>
                        <h2>Voto:</h2>
                        <h2 v-if="voto_stelle(film.vote_average) == 0">Non Disponibile</h2>
                        <div class="stelline_voto">
                            <i v-for="stelle in voto_stelle(film.vote_average)" class="fas fa-star"></i>
                            <i v-for="stelle in 5 - (voto_stelle(film.vote_average))" class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
