* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: grey;
    min-height: 100vh;
}

.contenitore_header {
    width: 100%;
    height: 100px;
    background-color: black;

}

.contenitore_titolo {
    width: 50%;
    height: 100px;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.contenitore_titolo h1 {
    color: red;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 50px;

}

.contenitore_input {
    width: 50%;
    height: 100px;
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.contenitore_input input {
    width: 300px;
    height: 40px;
    border: 3px solid black;
    font-size: 20px;
    padding-left: 10px;
}

.contenitore_input button{
    width: 100px;
    height: 40px;
    background-color: lightgrey;
    margin-left: 3px;
    margin-right: 50px;
    border: 3px solid black;
    font-size: 20px;
}

.contenitore_card {
    width: 100%;

}

.contenitore_card::after {
    clear: both;
    content: '';
    display: table;
}

.contenitore {
    width: 1600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenitore .titolo_ricerca {
    margin: 20px 0;
    font-size: 30px;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
}

.card {
    width: 300px;
    height: 400px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: transparent;
    perspective: 1000px;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    overflow: auto;
    padding: 20px;

}

.card-back ul {
    list-style-type: none;
    color: white;
    font-size: 17px;
    margin: 10px 0;

}

.card-back .bandiere_lingua {
    width: 25px;
}

.card-back .stelline_voto {
    color: yellow;
}
